body {
  background-color: #EDC7B7;
  font-weight:bold;
  color: #123C69;
}
i{
  position: absolute;
  margin-left: 1%;
}
.item{
  font-size: 20px;
}
.text{
  margin-left: 10px;
}
.output{
  padding-top: 30px;
}
.quotes{
  text-align: center;
  color: #787878;
  font-style: italic;
  font-size: 15px;
}
.timer{
  text-align: center;
  font-family: Playfair+Display;
  font-size: 90px;
  font-weight:normal;
}
.extra{
  margin: 10px;
}
.button{
  margin: 10px;
  color: #AC3B61;
  border-radius: 14px;
  font-size: 25px;
  font-family:serif
}
.button1{
  margin: 10px;
  color: #AC3B61;
  border-radius: 14px;
  font-size: 25px;
  font-family:serif
}
.button2{
  margin: 10px;
  color: #AC3B61;
  border-radius: 14px;
  font-size: 25px;
  font-family:serif
}
ul{
  list-style-type: none;
}
ul.lol{
  list-style-type: none;
  text-align: center;
}
li.one{
  display: inline-block;
}
li.two{
  display: inline-block;
}
li.three{
  display: inline-block;
}
.icons{
  text-align: center;
  font-size: 60px;
}
.play{
  color: #AC3B61;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
.play:hover {opacity: 1}
.clear{
  font-size: 40px;
  margin-left: 95%;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
.clear:hover {opacity: 1}
.output{
  padding-top: 50px;
  line-height: 40px;
}
.input{
  position: absolute;
  left: 10px;
}
.title{
  text-align: center;
  padding-top: 50px;
}
.complete{
  text-align: center;
}
